In [12]:
repo_root = "../"
import sys
sys.path.append(repo_root)

In [5]:

import numpy as numpy
import pandas as pd
import xgboost as xgb
import hyperopt as hpt
from preprocessing.country_and_airports_codes import compute_lon_lat,group_and_rename_countries, group_and_rename_airports, group_and_rename_aircraft_types
from preprocessing.encoding import one_hot_encoding,string_to_value_count, string_to_int_hashing
from preprocessing.local_time import add_localtime_to_train_and_test

In [7]:
space = {'max_depth': hpt.hp.quniform('max_depth', 2, 10, 1),
         'gamma': hpt.hp.uniform('gamma', 0.1, 5),
         'reg_alpha': hpt.hp.uniform('reg_alpha', 0.1, 5),
         'reg_lambda': hpt.hp.uniform('reg_lambda', 0.1, 5),
         'learning_rate': hpt.hp.uniform('learning_rate', 0.01, 0.2),
         'n_estimators': hpt.hp.quniform('n_estimators', 100, 1000, 1),
         'min_child_weight': hpt.hp.quniform('min_child_weight', 1, 10, 1),
         'subsample': hpt.hp.uniform('subsample', 0.5, 1),
         'colsample_bytree': hpt.hp.uniform('colsample_bytree', 0.5, 1),
         'seed': 0}

In [17]:


train_df = pd.read_csv("../data/challenge_set.csv", index_col=0)
test_df = pd.read_csv("../data/submission_set.csv", index_col=0)

add_localtime_to_train_and_test(train_df,test_df) #add localtime features (departures & arrival hours, day of years, weeks, month)
compute_lon_lat(train_df, test_df) # computes lon, lat for each airport
group_and_rename_countries(train_df, test_df) # simplify country_codes by group and rename countries
group_and_rename_airports(train_df, test_df) # simplify airport codes by group and rename airport
group_and_rename_aircraft_types(train_df, test_df) #regroup less used airlines and create "XXXX" category for unknown ones.

----------------------------------------------------------------------------------------------------
Columns for lon & lat: ['lon_adep', 'lat_adep', 'lon_ades', 'lat_ades'] successfully created !
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Country codes successfully grouped ! Different codes left : 47
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Airports codes successfully grouped ! Different codes left : 155
----------------------------------------------------------------------------------------------------

In [20]:

#train_df = pd.read_csv("./data/preprocessed_challenge_set.csv", index_col=0)
#test_df = pd.read_csv("./data/preprocessed_submission_set.csv", index_col=0)

# encoding
train_df = train_df.reset_index()
test_df = test_df.reset_index()

columns_to_ohe = [] # A changer
one_hot_encoding(train_df, test_df, columns_to_ohe)

columns_to_hash = ['callsign','country_code_ades', 'country_code_adep', 'adep', 'ades', 'airline','aircraft_type','wtc'] # A changer
string_to_int_hashing(train_df, test_df, columns_to_hash)

columns_to_vc = [] # A changer
string_to_value_count(train_df, test_df, columns_to_vc)

# drop unusefull column:
to_drop = ['flight_id','date','name_adep','name_ades','name_adep','actual_offblock_time','arrival_time','local_departure_time','local_arrival_time']
train_df = train_df.drop(columns= to_drop)
test_df = test_df.drop(columns= to_drop)

----------------------------------------------------------------------------------------------------
Columns [] sucessfully one hot encoded !
----------------------------------------------------------------------------------------------------
        flight_id        date  callsign  adep               name_adep  \
0       248753821  2022-01-01      2495    92  Istanbul Sabiha Gokcen
1       248753822  2022-01-01      9518     1                Brussels
2       248754498  2022-01-01      1902    50                   Miami
3       248763650  2022-01-01      2259     1                Brussels
4       248763651  2022-01-01     10029    89                  Zurich
...           ...         ...       ...   ...                     ...
158144  258068876  2022-12-31      8596    93            iGA Istanbul
158145  258064675  2022-12-31        35    23               Amsterdam
158146  258065436  2022-12-31      5684    58               Barcelona
158147  258058138  2022-12-31      1877    75                 Bologna
158148  258058370  2022-12-31      3993    98                    Baku

        country_code_adep  ades                name_ades  country_code_ades  \
0                      45    80                     Lyon                 12
1                       1    60             New York JFK                 52
2                      46    22          London Heathrow                 13
3                       1    72                 Alicante                 10
4                       3    84  Paris Charles de Gaulle                 12
...                   ...   ...                      ...                ...
158144                 45   109                   Zurich                  5
158145                 18     5                Frankfurt                  8
158146                  8    60             New York JFK                 52
158147                 17   102                   Vienna                  1
158148                 28   115             iGA Istanbul                 51

        actual_offblock_time  ... local_departure_time  local_arrival_hour  \
0       2022-01-01T09:44:00Z  ...  2022-01-01 12:44:00                  13
1       2022-01-01T09:45:00Z  ...  2022-01-01 10:45:00                  12
2       2022-01-01T01:52:00Z  ...  2021-12-31 20:52:00                   9
3       2022-01-01T12:02:00Z  ...  2022-01-01 13:02:00                  15
4       2022-01-01T12:03:00Z  ...  2022-01-01 13:03:00                  14
...                      ...  ...                  ...                 ...
158144  2022-12-31T09:25:00Z  ...  2022-12-31 12:25:00                  13
158145  2022-12-31T10:04:21Z  ...  2022-12-31 11:04:21                  11
158146  2022-12-31T09:34:00Z  ...  2022-12-31 10:34:00                  12
158147  2022-12-31T09:37:00Z  ...  2022-12-31 10:37:00                  11
158148  2022-12-31T09:40:00Z  ...  2022-12-31 13:40:00                  15

        local_departure_hour  travel_day_of_week  travel_day_of_year  \
0                         12                   5                   1
1                         10                   5                   1
2                         20                   5                   1
3                         13                   5                   1
4                         13                   5                   1
...                      ...                 ...                 ...
158144                    12                   5                 365
158145                    11                   5                 365
158146                    10                   5                 365
158147                    10                   5                 365
158148                    13                   5                 365

        departure_month  lon_adep  lat_adep  lon_ades  lat_ades
0                     1  29.30920  40.89860   5.09083  45.72640
1                     1   4.48444  50.90140 -73.77869  40.63993
2                     1 -80.29012  25.79536  -0.46194  51.47060
3                     1   4.48444  50.90140  -0.55816  38.28220
4                     1   8.54917  47.46470   2.55000  49.01280
...                 ...       ...       ...       ...       ...
158144               12  28.75200  41.27533   8.54917  47.46470
158145               12   4.76389  52.30860   8.54313  50.02640
158146               12   2.07846  41.29710 -73.77869  40.63993
158147               12  11.28870  44.53540  16.56970  48.11030
158148               12  50.04670  40.46750  28.75200  41.27533

[158149 rows x 29 columns]         flight_id        date  callsign  adep                name_adep  \
0       248763780  2022-01-01      2356    19          London Heathrow
1       248760618  2022-01-01     10522    58                Barcelona
2       248753824  2022-01-01       830    41        Stockholm Arlanda
3       248753852  2022-01-01      3379    89                   Zurich
4       248755934  2022-01-01      8863    25                   Dublin
...           ...         ...       ...   ...                      ...
369008  258058361  2022-12-31      5605    67  Paris Charles de Gaulle
369009  258071247  2022-12-31      3642    93             iGA Istanbul
369010  258059152  2022-12-31      3803     7               Dusseldorf
369011  258072276  2022-12-31      6817    67  Paris Charles de Gaulle
369012  258069969  2022-12-31      4549    60           Madrid Barajas

        country_code_adep  ades           name_ades  country_code_ades  \
0                      11    28                Cork                 18
1                       8    62               Miami                 52
2                      34    64      Chicago O'Hare                 52
3                       3    65        Philadelphia                 52
4                      15    22     London Heathrow                 13
...                   ...   ...                 ...                ...
369008                 10    62               Miami                 52
369009                 45     4  Berlin Brandenburg                  8
369010                  6    29              Dublin                 18
369011                 10    29              Dublin                 18
369012                  8    60        New York JFK                 52

        actual_offblock_time  ... local_departure_time  local_arrival_hour  \
0       2022-01-01T13:46:00Z  ...  2022-01-01 13:46:00                  15
1       2022-01-01T09:55:00Z  ...  2022-01-01 10:55:00                  14
2       2022-01-01T09:39:00Z  ...  2022-01-01 10:39:00                  13
3       2022-01-01T11:04:00Z  ...  2022-01-01 12:04:00                  14
4       2022-01-01T12:36:00Z  ...  2022-01-01 12:36:00                  13
...                      ...  ...                  ...                 ...
369008  2022-12-31T09:38:00Z  ...  2022-12-31 10:38:00                  14
369009  2022-12-31T09:27:00Z  ...  2022-12-31 12:27:00                  13
369010  2022-12-31T09:52:00Z  ...  2022-12-31 10:52:00                  11
369011  2022-12-31T09:37:00Z  ...  2022-12-31 10:37:00                  11
369012  2022-12-31T09:38:00Z  ...  2022-12-31 10:38:00                  12

        local_departure_hour  travel_day_of_week  travel_day_of_year  \
0                         13                   5                   1
1                         10                   5                   1
2                         10                   5                   1
3                         12                   5                   1
4                         12                   5                   1
...                      ...                 ...                 ...
369008                    10                   5                 365
369009                    12                   5                 365
369010                    10                   5                 365
369011                    10                   5                 365
369012                    10                   5                 365

        departure_month  lon_adep  lat_adep  lon_ades  lat_ades
0                     1  -0.46194  51.47060  -8.49111  51.84130
1                     1   2.07846  41.29710 -80.29012  25.79536
2                     1  17.91860  59.65190 -87.90815  41.97694
3                     1   8.54917  47.46470 -75.24066  39.87208
4                     1  -6.27007  53.42130  -0.46194  51.47060
...                 ...       ...       ...       ...       ...
369008               12   2.55000  49.01280 -80.29012  25.79536
369009               12  28.75200  41.27533  13.50067  52.36217
369010               12   6.76678  51.28950  -6.27007  53.42130
369011               12   2.55000  49.01280  -6.27007  53.42130
369012               12  -3.56676  40.49360 -73.77869  40.63993

[369013 rows x 29 columns]
----------------------------------------------------------------------------------------------------
Columns ['callsign', 'country_code_ades', 'country_code_adep', 'adep', 'ades', 'airline', 'aircraft_type', 'wtc'] successfully string to int encoded!
----------------------------------------------------------------------------------------------------
        flight_id        date  callsign  adep               name_adep  \
0       248753821  2022-01-01      2495    92  Istanbul Sabiha Gokcen
1       248753822  2022-01-01      9518     1                Brussels
2       248754498  2022-01-01      1902    50                   Miami
3       248763650  2022-01-01      2259     1                Brussels
4       248763651  2022-01-01     10029    89                  Zurich
...           ...         ...       ...   ...                     ...
158144  258068876  2022-12-31      8596    93            iGA Istanbul
158145  258064675  2022-12-31        35    23               Amsterdam
158146  258065436  2022-12-31      5684    58               Barcelona
158147  258058138  2022-12-31      1877    75                 Bologna
158148  258058370  2022-12-31      3993    98                    Baku

        country_code_adep  ades                name_ades  country_code_ades  \
0                      45    80                     Lyon                 12
1                       1    60             New York JFK                 52
2                      46    22          London Heathrow                 13
3                       1    72                 Alicante                 10
4                       3    84  Paris Charles de Gaulle                 12
...                   ...   ...                      ...                ...
158144                 45   109                   Zurich                  5
158145                 18     5                Frankfurt                  8
158146                  8    60             New York JFK                 52
158147                 17   102                   Vienna                  1
158148                 28   115             iGA Istanbul                 51

        actual_offblock_time  ... local_departure_time  local_arrival_hour  \
0       2022-01-01T09:44:00Z  ...  2022-01-01 12:44:00                  13
1       2022-01-01T09:45:00Z  ...  2022-01-01 10:45:00                  12
2       2022-01-01T01:52:00Z  ...  2021-12-31 20:52:00                   9
3       2022-01-01T12:02:00Z  ...  2022-01-01 13:02:00                  15
4       2022-01-01T12:03:00Z  ...  2022-01-01 13:03:00                  14
...                      ...  ...                  ...                 ...
158144  2022-12-31T09:25:00Z  ...  2022-12-31 12:25:00                  13
158145  2022-12-31T10:04:21Z  ...  2022-12-31 11:04:21                  11
158146  2022-12-31T09:34:00Z  ...  2022-12-31 10:34:00                  12
158147  2022-12-31T09:37:00Z  ...  2022-12-31 10:37:00                  11
158148  2022-12-31T09:40:00Z  ...  2022-12-31 13:40:00                  15

        local_departure_hour  travel_day_of_week  travel_day_of_year  \
0                         12                   5                   1
1                         10                   5                   1
2                         20                   5                   1
3                         13                   5                   1
4                         13                   5                   1
...                      ...                 ...                 ...
158144                    12                   5                 365
158145                    11                   5                 365
158146                    10                   5                 365
158147                    10                   5                 365
158148                    13                   5                 365

        departure_month  lon_adep  lat_adep  lon_ades  lat_ades
0                     1  29.30920  40.89860   5.09083  45.72640
1                     1   4.48444  50.90140 -73.77869  40.63993
2                     1 -80.29012  25.79536  -0.46194  51.47060
3                     1   4.48444  50.90140  -0.55816  38.28220
4                     1   8.54917  47.46470   2.55000  49.01280
...                 ...       ...       ...       ...       ...
158144               12  28.75200  41.27533   8.54917  47.46470
158145               12   4.76389  52.30860   8.54313  50.02640
158146               12   2.07846  41.29710 -73.77869  40.63993
158147               12  11.28870  44.53540  16.56970  48.11030
158148               12  50.04670  40.46750  28.75200  41.27533

[158149 rows x 29 columns]         flight_id        date  callsign  adep                name_adep  \
0       248763780  2022-01-01      2356    19          London Heathrow
1       248760618  2022-01-01     10522    58                Barcelona
2       248753824  2022-01-01       830    41        Stockholm Arlanda
3       248753852  2022-01-01      3379    89                   Zurich
4       248755934  2022-01-01      8863    25                   Dublin
...           ...         ...       ...   ...                      ...
369008  258058361  2022-12-31      5605    67  Paris Charles de Gaulle
369009  258071247  2022-12-31      3642    93             iGA Istanbul
369010  258059152  2022-12-31      3803     7               Dusseldorf
369011  258072276  2022-12-31      6817    67  Paris Charles de Gaulle
369012  258069969  2022-12-31      4549    60           Madrid Barajas

        country_code_adep  ades           name_ades  country_code_ades  \
0                      11    28                Cork                 18
1                       8    62               Miami                 52
2                      34    64      Chicago O'Hare                 52
3                       3    65        Philadelphia                 52
4                      15    22     London Heathrow                 13
...                   ...   ...                 ...                ...
369008                 10    62               Miami                 52
369009                 45     4  Berlin Brandenburg                  8
369010                  6    29              Dublin                 18
369011                 10    29              Dublin                 18
369012                  8    60        New York JFK                 52

        actual_offblock_time  ... local_departure_time  local_arrival_hour  \
0       2022-01-01T13:46:00Z  ...  2022-01-01 13:46:00                  15
1       2022-01-01T09:55:00Z  ...  2022-01-01 10:55:00                  14
2       2022-01-01T09:39:00Z  ...  2022-01-01 10:39:00                  13
3       2022-01-01T11:04:00Z  ...  2022-01-01 12:04:00                  14
4       2022-01-01T12:36:00Z  ...  2022-01-01 12:36:00                  13
...                      ...  ...                  ...                 ...
369008  2022-12-31T09:38:00Z  ...  2022-12-31 10:38:00                  14
369009  2022-12-31T09:27:00Z  ...  2022-12-31 12:27:00                  13
369010  2022-12-31T09:52:00Z  ...  2022-12-31 10:52:00                  11
369011  2022-12-31T09:37:00Z  ...  2022-12-31 10:37:00                  11
369012  2022-12-31T09:38:00Z  ...  2022-12-31 10:38:00                  12

        local_departure_hour  travel_day_of_week  travel_day_of_year  \
0                         13                   5                   1
1                         10                   5                   1
2                         10                   5                   1
3                         12                   5                   1
4                         12                   5                   1
...                      ...                 ...                 ...
369008                    10                   5                 365
369009                    12                   5                 365
369010                    10                   5                 365
369011                    10                   5                 365
369012                    10                   5                 365

        departure_month  lon_adep  lat_adep  lon_ades  lat_ades
0                     1  -0.46194  51.47060  -8.49111  51.84130
1                     1   2.07846  41.29710 -80.29012  25.79536
2                     1  17.91860  59.65190 -87.90815  41.97694
3                     1   8.54917  47.46470 -75.24066  39.87208
4                     1  -6.27007  53.42130  -0.46194  51.47060
...                 ...       ...       ...       ...       ...
369008               12   2.55000  49.01280 -80.29012  25.79536
369009               12  28.75200  41.27533  13.50067  52.36217
369010               12   6.76678  51.28950  -6.27007  53.42130
369011               12   2.55000  49.01280  -6.27007  53.42130
369012               12  -3.56676  40.49360 -73.77869  40.63993

[369013 rows x 29 columns]
----------------------------------------------------------------------------------------------------
Columns [] successfully string-to-int encoded using value counts!
----------------------------------------------------------------------------------------------------

In [22]:
import pipreqs

pipreqs "C:/Users/Dasha/OneDrive/Documents/GitHub/ATOW_ML"

SyntaxError: invalid syntax (3388955024.py, line 3)